<% layout('layouts/boilerplate') %>

<div class="container d-flex justify-content-center align-items-center mb-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card shadow">
        <div class="card-body">
          <h1 class="card-title text-center">Edit Campground</h1>
          <form
            action="/campgrounds/<%= campground._id %>?_method=PUT"
            method="post"
            novalidate
            class="validated-form mb-3"
            enctype="multipart/form-data"
          >
            <div class="mb-3">
              <label for="id" class="form-label">Title: </label>
              <input
                class="form-control"
                type="text"
                id="title"
                name="campground[title]"
                value="<%= campground.title %> "
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <label for="location" class="form-label">Location: </label>
              <input
                class="form-control"
                type="text"
                id="location"
                name="campground[location]"
                value="<%= campground.location %>"
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="mb-3 col-4">
              <label for="price">Campground Price</label>
              <div class="input-group">
                <span class="input-group-text">$</span>
                <input
                  id="price"
                  type="number"
                  class="form-control"
                  aria-label="Amount (to the nearest dollar)"
                  name="campground[price]"
                  value="<%= campground.price %>"
                  required
                />
                <div class="valid-feedback">Looks good!</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description: </label>
              <textarea
                class="form-control"
                type="text"
                id="description"
                name="campground[description]"
                required
              >
<%= campground.description %></textarea
              >
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <div class="form-file custom-file">
                <input
                  type="file"
                  id="image"
                  name="image"
                  class="form-file-input"
                  multiple
                />
                <label for="image" class="form-file-label">
                  <span class="form-file-text custom-file-label"
                    >Add more image(s)...</span
                  >
                  <span class="form-file-button">Browse</span>
                </label>
              </div>
            </div>

            <div class="mb-3">
              <% campground.images.forEach((img, i)=>{%>
              <img src="<%= img.thumbnail %>" class="img-thumbnail" />
              <div class="form-check-inline">
                <input
                  type="checkbox"
                  id="image-<%= i %>"
                  name="deleteImages[]"
                  value="<%= img.filename %>"
                />
                <label for="image-<%= i %>">Delete</label>
              </div>
              <%}) %>
            </div>
            <div class="col-lg-4 offset-lg-4">
              <button class="btn btn-success btn-block" type="submit">
                Update Campground
              </button>
              <a
                href="/campgrounds/<%= campground._id %>"
                class="btn btn-danger btn-block"
                type="button"
                >Back to Campground</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
